<div class="header__title">
    <h1>калькулятор</h1>
    <p>обязательного страхования в республике беларусь</p>
</div>
<div class="header__links">
    <a class="header__links-item {{#if isAboutPage}}active{{/if}}" href="/#/">
        О приложении
    </a>
    <a class="header__links-item {{#if isCalculatorPage}}active{{/if}}" href="/#/calculator">
        Расчет тарифа
    </a>
    <a class="header__links-item {{#if isRemindersPage}}active{{/if}}" href="/#/reminders">
        Напоминания
    </a>
</div>