<div class="about">              
    <p class="about__info">Данное приложение поможет вам рассчитать стоимость обязательной страховки на автомобиль, зарегистрированный на территории Республики Беларусь</p>
    <a class="about__btn-start button" href="#/calculator" title="Click here to get started!">Рассчитать стоимость</a>
    <img src="styles/images/dtp3.jpeg">
</div>