<div class="insurance-calculator-block">
    <h2>Информация о страхователе</h2>

    <div class="insurance-calculator-block-item"> 

        <div class="insurance-characteristic">
            <label for="privileges">Наличие льгот по договору обязательного страхования (инвалидам ВОВ и т.п.)</label>
            <select id="privileges">
                <option value="no">Нет</option>
                <option value="yes">Да</option>
            </select>
        </div>

        <div class="insurance-characteristic">
            <label for="age">Возраст страхователя</label>
            <select id="age">
                <option value="less25">до 25 лет включительно</option>
                <option value="more25">старше 25 лет</option>
            </select>
        </div>

        <div class="insurance-characteristic">
            <label for="experience">Стаж управления ТС соответствующей категории</label>
            <select id="experience">
                <option value="less2">в/у отсутствует</option>
                <option value="less2">до 2 лет включительно</option>
                <option value="more2">свыше 2 лет</option>
            </select>
        </div>
    </div>
</div>